.SkillsWrapper{
    flex-direction: row;

}

.skillContainer{
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.skillContainer h2{
    font-size: 28px;
    color: var(--text-color);
}

.skillContainer h3{
    font-size: 24px;
    color: var(--text-color);
}

.skillContainer p{
    font-size: 20px;
    color: var(--pera-color);
}

.skillsImg{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsImg img{
    width:380px;
    height: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.skill .line{
height: 20px;
width: 100%;
background-color: var(--primary-color);
margin-top: 10px;
transition: .6s;
position: relative;
}

.skill .line:hover{
    box-shadow: 0 0 50px var(--primary-color);
}


.skill .line::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 0.5%;
    width: 60%;
    height: 60%;
    background-color: var(--Light-color);
}

.skill:nth-of-type(2) .line::after{width: 90%;}
.skill:nth-of-type(3) .line::after{width: 79%;}
.skill:nth-of-type(4) .line::after{width: 80%;}
.skill:nth-of-type(5) .line::after{width: 79%;}
.skill:nth-of-type(6) .line::after{width: 89%;}
.skill:nth-of-type(7) .line::after{width: 89%;}

